#container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(61, 61, 123, 0.8),rgba(50, 50, 121, 0.8)),url(./view-3d-businessman_23-2150710028.png);
  
    background-position: center;
    background-size: cover;
    position:relative;
}
  #sign_up{
    width:50%;
    position: absolute;
    
    left:50%;
    right:50%;
    transform: translate(-50%,30%);
    background:#ecd9d9;
    padding:10px 50px 50px 50px;
  
  }
  #sign_up>h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 5px;
    position: relative;
    color: rgb(34, 34, 113);
  
    
  }
  .input_field{
    align-items: center;
    margin: 12px 0;
    border-radius: 3px;
    display:flex;
    background: #eaeaea;
    font-size: 28px;
    
  
  }
  input{
    width: 100%;
    background: transparent;
    border:0;
    outline: 0;
    padding: 25px 18px;
    font-size: 20px;
  
  }
  .input_field i{
    margin-left: 15px;
    color: rgb(87, 82, 82);
    font-size: 22px;
  
  }
  #footer_buttons{
    display: flex;
    gap: 100px;
    margin-top: 15px;
    margin-left:5%; 
    font-size: 20px;
    position: relative;
    
  }
#footer_buttons > * {
    flex: 1;
}

#user_type{
    display: flex;
    font-size: 25px;
    gap:18px;
    margin-top: 0.1%;
    margin-bottom:9%;
}
h2{
  margin-top:25px;
}
#user_type label {
    display: flex;
    transform: translate(-1%,50%);
}
#user_type input.box {
    transform: scale(1.5); 
    margin-right: 5px;
}


.footer_sign_in_up{
    margin-top: 28px;   
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 24px;
    background-color: rgb(105, 105, 204);
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
    border-bottom:rgb(138, 121, 161);


}
  .footer_sign_in_up:hover{
    background-color: rgb(181, 198, 198);
  
}
